// .manage-user-container{
//     .users-content{
      
//     }
// }
.modal-add-user{
    .label-upload{
        display: flex;
     
        align-items: center;
        gap: 5px;
        width: fit-content;
        background: #e3e3e3;
        padding: 3px 15px;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: rgb(196, 189, 189);
        }
    }
    .img-preview{
        height: 100px;
        border: 1px dashed #ccc;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}