.display-infor-container{
    .red{
        color:red;
      }
    .green{
        color: rgb(11, 248, 129);
      }
     
        img{
            height: 400px ;
            width: 300px;
          }
      
      
}